@import url('https://fonts.googleapis.com/css?family={fontName}');

* {
    font-family: '{{fontName}}', sans-serif;
	color:{{fontColor}};
	font-weight: {{fontWeight}};
	font-size: {{fontSize}}px;
  	text-shadow:-1px -1px 0 #000,  
    			1px -1px 0 #000,
    			-1px 1px 0 #000,
     			1px 1px 0 #000;
}